*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden;

}

.heading-secondary {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-big);
}